/* Nord Dark userChrome.css */

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #2E3440 !important;
    --zen-primary-color: #5E81AC !important;
    --zen-colors-secondary: #3B4252 !important;
    --zen-colors-tertiary: #434C5E !important;
    --zen-colors-border: #5E81AC !important;
    --toolbarbutton-icon-fill: #d8dee9 !important;
    --lwt-text-color: #D8DEE9 !important;
    --toolbar-field-color: #D8DEE9 !important;
    --tab-selected-textcolor: #88C0D0 !important;
    --toolbar-field-focus-color: #ECEFF4 !important;
    --toolbar-color: #D8DEE9 !important;
    --newtab-text-primary-color: #D8DEE9 !important;
    --arrowpanel-color: #ECEFF4 !important;
    --arrowpanel-background: #3B4252 !important;
    --sidebar-text-color: #D8DEE9 !important;
    --lwt-sidebar-text-color: #D8DEE9 !important;
    --lwt-sidebar-background-color: #2E3440 !important;
    --toolbar-bgcolor: #2E3440 !important;
    --newtab-background-color: #3B4252 !important;
    --zen-themed-toolbar-bg: #3B4252 !important;
    --zen-main-browser-background: #3B4252 !important;
    --toolbox-bgcolor-inactive: #3B4252 !important;
  }

  #permissions-granted-icon {
    color: #3B4252 !important;
  }

  .sidebar-placesTree {
    background-color: #2E3440 !important;
  }

  #zen-workspaces-button {
    background-color: #2E3440 !important;
  }

  #TabsToolbar {
    background-color: #3B4252 !important;
  }

  #urlbar-background {
    background-color: #2E3440 !important;
  }

  .content-shortcuts {
    background-color: #2E3440 !important;
    border-color: #5E81AC !important;
  }

  .urlbarView-url {
    color: #81A1C1 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #434C5E !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #4C566A !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #434C5E;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #5E81AC !important;
    --identity-icon-color: #5E81AC !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #88C0D0 !important;
    --identity-icon-color: #88C0D0 !important;
  }

  .identity-color-green {
    --identity-tab-color: #A3BE8C !important;
    --identity-icon-color: #A3BE8C !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #EBCB8B !important;
    --identity-icon-color: #EBCB8B !important;
  }

  .identity-color-orange {
    --identity-tab-color: #D08770 !important;
    --identity-icon-color: #D08770 !important;
  }

  .identity-color-red {
    --identity-tab-color: #BF616A !important;
    --identity-icon-color: #BF616A !important;
  }

  .identity-color-pink {
    --identity-tab-color: #B48EAD !important;
    --identity-icon-color: #B48EAD !important;
  }

  .identity-color-purple {
    --identity-tab-color: #B48EAD !important;
    --identity-icon-color: #B48EAD !important;
  }
}



/* Nord Dark userContent.css */

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #D8DEE9 !important;
      --color-accent-primary: #5E81AC !important;
      --color-accent-primary-hover: #81A1C1 !important;
      --color-accent-primary-active: #4C566A !important;
      background-color: #2E3440 !important;
      --in-content-page-background: #2E3440 !important;
    }
  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #2E3440 !important;
      --newtab-background-color-secondary: #3B4252 !important;
      --newtab-element-hover-color: #434C5E !important;
      --newtab-text-primary-color: #D8DEE9 !important;
      --newtab-wordmark-color: #D8DEE9 !important;
      --newtab-primary-action-background: #5E81AC !important;
    }


    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #5E81AC !important;
    }

    .top-site-outer .search-topsite {
      background-color: #5E81AC !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #A3BE8C !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #434C5E !important;
      --in-content-text-color: #D8DEE9 !important;
      --link-color: #5E81AC !important;
      --link-color-hover: #81A1C1 !important;
      --zen-colors-primary: #3B4252 !important;
      --in-content-box-background: #3B4252 !important;
      --zen-primary-color: #5E81AC !important;
    }

    groupbox,
    moz-card {
      background: #2E3440 !important;
    }

    button,
    groupbox menulist {
      background: #3B4252 !important;
      color: #D8DEE9 !important;
    }

    .main-content {
      background-color: #2E3440 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #81A1C1 !important;
      --identity-icon-color: #81A1C1 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #88C0D0 !important;
      --identity-icon-color: #88C0D0 !important;
    }

    .identity-color-green {
      --identity-tab-color: #A3BE8C !important;
      --identity-icon-color: #A3BE8C !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #EBCB8B !important;
      --identity-icon-color: #EBCB8B !important;
    }

    .identity-color-orange {
      --identity-tab-color: #D08770 !important;
      --identity-icon-color: #D08770 !important;
    }

    .identity-color-red {
      --identity-tab-color: #BF616A !important;
      --identity-icon-color: #BF616A !important;
    }

    .identity-color-pink,
    .identity-color-purple {
      --identity-tab-color: #B48EAD !important;
      --identity-icon-color: #B48EAD !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #434C5E !important;
      --background-color-box: #2E3440 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #2E3440 !important;
      --social-color: #B48EAD !important;
      --coockie-color: #88C0D0 !important;
      --fingerprinter-color: #EBCB8B !important;
      --cryptominer-color: #5E81AC !important;
      --tracker-color: #A3BE8C !important;
      --in-content-primary-button-background-hover: #4C566A !important;
      --in-content-primary-button-text-color-hover: #ECEFF4 !important;
      --in-content-primary-button-background: #434C5E !important;
      --in-content-primary-button-text-color: #D8DEE9 !important;
    }

    .card {
      background-color: #3B4252 !important;
    }
  }
}

@-moz-document url-prefix("chrome:") {
  /* Reduce width */
  @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
    #navigator-toolbox {
      --zen-navigation-toolbar-min-width: 100px !important;
    }
  }
  
  /* Reduced height */
  @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
    :root[zen-compact-mode="true"] #navigator-toolbox {
      margin-top: 9.375vh !important;
      height: 75vh !important;
    }
  }
  
}
